@model ProjectDatabaseLib.Hotel

@{
    ViewBag.Title = "HotelUpdate";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";

}




<br />
<div class="container">
    <h2>Update Hotel</h2>
    @using (Html.BeginForm("HotelUpdate", "Admin", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">
           
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="form-group">
                @Html.LabelFor(model => model.LocationId, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.LocationId, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.LocationId, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.HotelName, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.HotelName, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.HotelName, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Hoteltype, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Hoteltype, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Hoteltype, "", new { @class = "text-danger" })
                </div>
            </div>



            <div class="form-group">
                @Html.LabelFor(model => model.Price, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Price, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Price, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.hotelImage, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @*               @Html.EditorFor(model => model.hotelImage, new { htmlAttributes = new { @class = "form-control" } })
                    *@                <img src="@Url.Content(Session["OldImage"].ToString())" width="100" height="70" />
                    <input type="file" id="file" name="file" />
                    @Html.ValidationMessageFor(model => model.hotelImage, "", new { @class = "text-danger" })
                </div>
            </div>



            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Create" class="btn btn-info" />
                </div>
            </div>
        </div>
    }

    <div>
        @Html.ActionLink("Back to List", "Hotels", new { @class = "btn btn-primary" })
    </div>
</div>
