<!DOCTYPE html>
<html>
<head>
    <title>@Page.Title</title>
    @RenderSection("head", required: false)
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Traversal Travel Category Bootstrap Responsive Template | Home :: W3layouts</title>
    <!-- google fonts -->
    <link href="//fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600;700&display=swap" rel="stylesheet">
    <link href="//fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;1,400&display=swap"
          rel="stylesheet">
    <!-- google fonts -->
    <!-- Template CSS -->
    <link rel="stylesheet" href=@Url.Content("/Content/assets/css/style-starter.css")>
    <!-- Template CSS -->
</head>
<body>

    <!--header-->
    <header id="site-header" class="fixed-top">
        <div class="container">
            <nav class="navbar navbar-expand-lg stroke">
                <h1>
                    <a class="navbar-brand mr-lg-5" href="index.html">
                        Tourism
                    </a>
                </h1>

                <button class="navbar-toggler  collapsed bg-gradient" type="button" data-toggle="collapse"
                        data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false"
                        aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon fa icon-expand fa-bars"></span>
                    <span class="navbar-toggler-icon fa icon-close fa-times"></span>

                </button>

                <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item active">
                            <a class="nav-link" href="/Admin/Front">Home <span class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item">
                            @Html.ActionLink("Packages", "Packages", "Admin", new { area = "" }, new { @class = "nav-link" })

                        </li>
                        <li class="nav-item">
                            @Html.ActionLink("List Of User", "Index", "Admin", new { area = "" }, new { @class = "nav-link" })
                        </li>
                        <li class="nav-item">
                            @Html.ActionLink("Hotels", "Hotels", "Admin", new { area = "" }, new { @class = "nav-link" })
                        </li>
                        <li class="nav-item">
                            @Html.ActionLink("Flights", "Flights", "Admin", new { area = "" }, new { @class = "nav-link" })
                        </li>


                    </ul>

                    <div class="d-lg-block d-none nav-item">
                        <ul class="nav navbar-nav navbar-right">

                           
                            @if (User.Identity.IsAuthenticated)
                            {

                                <li class="nav-item"><a class="nav-link">Hello @User.Identity.Name</a></li>
                                <li class="nav-item">
                                    <a class="nav-link" href="/Account/Logout">Logout</a>
                                </li>
                               
                                @*<li>@Html.ActionLink("Logout", "Logout", "Account", new { area = "" }, new { @class = "nav-item nav-link" })</li>*@
                            }
                            else
                            {
                                <li>@Html.ActionLink("Login", "Login", "Account", new { area = "" }, new { @class = "nav-link nav-item" })</li>
                            }

                        </ul>
                    </div>
                </div>

            </nav>
        </div>
    </header>
    <br />
    <div class="mt-5">
        <br/>
        <br />
        @RenderBody()
    </div>
</body>
</html>
