<!DOCTYPE html>
<html>
<head>
    <title>@Page.Title</title>
    @RenderSection("head", required: false)
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Traversal </title>
    <!-- google fonts -->
    <link href="//fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600;700&display=swap" rel="stylesheet">
    <link href="//fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;1,400&display=swap"
          rel="stylesheet">
    <!-- google fonts -->
    <!-- Template CSS -->
    <link rel="stylesheet" href=@Url.Content("/Content/assets/css/style-starter.css")>
    <!-- Template CSS -->
</head>


<body>
    <header id="site-header" class="fixed-top">
        <div class="container">
            <nav class="navbar navbar-expand-lg stroke">
                <h1>
                    <a class="navbar-brand mr-lg-5" href="index.html">
                        Tourism
                    </a>
                </h1>

                <button class="navbar-toggler  collapsed bg-gradient" type="button" data-toggle="collapse"
                        data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false"
                        aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon fa icon-expand fa-bars"></span>
                    <span class="navbar-toggler-icon fa icon-close fa-times"></span>

                </button>

                <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item active">
                            <a class="nav-link" href="/User/Index">Home <span class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="about.html">About</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="services.html">Destinations</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" href="contact.html">Contact</a>
                        </li>

                    </ul>
                </div>
                <div class="d-lg-block d-none nav-item">
                    <ul class="nav navbar-nav navbar-right">

                        @if (User.Identity.IsAuthenticated)
                        {
                            <li><a>Hello @User.Identity.Name</a></li>

                            <li>@Html.ActionLink("Logout", "Logout", "Account", new { area = "" }, new { @class = "nav-link nav-item" })</li>
                        }
                        else
                        {
                            <li>@Html.ActionLink("Login", "Login", "Account", new { area = "" }, new { @class = "nav-link nav-item" })</li>
                        }

                    </ul>
                </div>

            </nav>
        </div>
    </header>
    <br />

    @RenderBody()
    <footer>
        <!-- footer -->
        <section class="w3l-footer">
            <div class="w3l-footer-16-main py-5">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-6 column">
                            <div class="row">
                                <div class="col-md-4 column">
                                    <h3>Company</h3>
                                    <ul class="footer-gd-16">
                                        <li><a href="index.html">Home</a></li>
                                        <li><a href="about.html">About Us</a></li>
                                        <li><a href="services.html">Services</a></li>
                                        <li><a href="blog.html">Blog</a></li>
                                        <li><a href="contact.html">Contact Us</a></li>
                                    </ul>
                                </div>
                                <div class="col-md-4 column mt-md-0 mt-4">
                                    <h3>Useful Links</h3>
                                    <ul class="footer-gd-16">
                                        <li><a href="#url">Destinations</a></li>
                                        <li><a href="#url">Our Branches</a></li>
                                        <li><a href="#url">Latest Media</a></li>
                                        <li><a href="about.html">About Company</a></li>
                                        <li><a href="#url">Our Packages</a></li>
                                    </ul>
                                </div>
                                <div class="col-md-4 column mt-md-0 mt-4">
                                    <h3>Our Services</h3>
                                    <ul class="footer-gd-16">
                                        <li><a href="#url">Privacy Policy</a></li>
                                        <li><a href="#url">Our Terms</a></li>
                                        <li><a href="services.html">Services</a></li>
                                        <li><a href="landing-single.html">Landing Page</a></li>
                                        <li><a href="#url">Our Guides</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-12 column pl-lg-5 column4 mt-lg-0 mt-5">
                            <h3>Newsletter </h3>
                            <div class="end-column">
                                <h4>Get latest updates and offers.</h4>
                                <form action="#" class="subscribe" method="post">
                                    <input type="email" name="email" placeholder="Email Address" required="">
                                    <button type="submit">Go</button>
                                </form>
                                <p>Sign up for our latest news & articles. We won’t give you spam mails.</p>
                            </div>
                        </div>
                    </div>
                    <div class="d-flex below-section justify-content-between align-items-center pt-4 mt-5">
                        <div class="columns text-lg-left text-center">
                            <p>
                                &copy; 2020 Traversal. All rights reserved.Design by Vatsala


                            </p>
                        </div>
                        <div class="columns-2 mt-lg-0 mt-3">
                            <ul class="social">
                                <li>
                                    <a href="#facebook"><span class="fa fa-facebook" aria-hidden="true"></span></a>
                                </li>
                                <li>
                                    <a href="#linkedin"><span class="fa fa-linkedin" aria-hidden="true"></span></a>
                                </li>
                                <li>
                                    <a href="#twitter"><span class="fa fa-twitter" aria-hidden="true"></span></a>
                                </li>
                                <li>
                                    <a href="#google"><span class="fa fa-google-plus" aria-hidden="true"></span></a>
                                </li>
                                <li>
                                    <a href="#github"><span class="fa fa-github" aria-hidden="true"></span></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

            <!-- move top -->
            <button onclick="topFunction()" id="movetop" title="Go to top">
                <span class="fa fa-angle-up"></span>
            </button>
            <script>
        // When the user scrolls down 20px from the top of the document, show the button
        window.onscroll = function () {
          scrollFunction()
        };

        function scrollFunction() {
          if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
            document.getElementById("movetop").style.display = "block";
          } else {
            document.getElementById("movetop").style.display = "none";
          }
        }

        // When the user clicks on the button, scroll to the top of the document
        function topFunction() {
          document.body.scrollTop = 0;
          document.documentElement.scrollTop = 0;
        }
            </script>
            <!-- //move top -->
            <script>
        $(function () {
          $('.navbar-toggler').click(function () {
            $('body').toggleClass('noscroll');
          })
        });
            </script>
        </section>
        <!-- //footer -->
    </footer>
</body>
</html>
